Importing and Installing mysql package on the Venv.
Using the install package
! pip install pandas pymysql sqlalchemy

# To install the package using the vscode terminal
!pip install pandas pymysql sqlalchemy

In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine  = create_engine("mysql+pymysql://root:Yang2mich@127.0.0.1:3306/employees")
engine

Engine(mysql+pymysql://root:***@127.0.0.1:3306/employees)

Getting Data from the database

In [3]:
query = "SELECT * FROM employees.employees"
details = pd.read_sql_query(query,engine)
print(details)

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30
300024  999901  1990-12-31     STELLA  PARKISON      F  2011-01-01
300025  999902  1973-03-26   PATRICIA  LAWRENCE      F  2005-01-01
300026  999903  1977-09-14  Johnathan     Creek      M  1999-01-01

[300027 rows x 6 columns]